@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);
  --white: hsl(36, 100%, 99%);
  --gray: hsl(233, 8%, 79%);
  --gray-blue: hsl(236, 13%, 42%);
  --dk-blue: hsl(240, 100%, 5%);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
}

.top-navbar {
  display: flex;
  align-items: flex-end;   
  justify-content: space-between;
  padding: 30px 0;
}

.navbar-list {
  position: fixed;
  z-index: 3;
  overflow-x: hidden;
  height: 100vh;
  width: 0;
  top:0;
  right: 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  transition: 0.5s ease-in-out;
}

.navbar-list.active {
  display: flex;
  width: 255px;
  overflow-x: hidden;
}

#overlay {
  position: fixed;
  display:none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
}

#overlay.active {
  display: block;
}

.navbar-list a {
  color: #464343;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
}

.navbar-list a:hover {
  font-weight: 700;
}

/* animated xs */
.toggle {
  position:relative;
  display: flex; 
  align-items: center;
  width: 45px;
  height: 25px;
  cursor: pointer;
  z-index: 5;
  transition: all .5s ease-in-out;
}

.toggle__burger{
  width: 40px;
  height: 3px;
  transform: translateY(-4px);
  background: var(--dk-blue);
  transition: all .2s ease-in-out;
}

.toggle__burger::before,
.toggle__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: var(--dk-blue);
  transition: all .5s ease-in-out;
 }

.toggle__burger::before {
  transform: translateY(-7px);
}

.toggle__burger::after {
  transform: translateY(7px);
}

/* ANIMATION */
.toggle.active .toggle__burger {
  transform: translateX(-50px);
  background: transparent;
}

.toggle.active .toggle__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.toggle.active .toggle__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.logo-image {
  height: 28px;
}

.web3mobile {
  position:relative;
  width: 100%;
}

.web3desktop {
  display: none;
}

.title {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 40px;
  color: var(--dk-blue);
  padding-top: 20px;
}

.para-text {
  font-size: .92rem;
  color: var(--gray-blue);
  line-height: 25px;
  padding: 15px 0 25px;
}

button {
  color: var(--white);
  background-color: var(--red);
  border: none;
  padding: 15px 25px;
  font-size: .8rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 600; 
  cursor: pointer;
  width: 190px;
  
}

.blue-card {
  background: var(--dk-blue);
  padding: 20px 15px 0;
  margin: 60px 0;
}

.new {
  color: var(--orange);
  font-size: 2rem;
}

.article {
  padding: 32px 0 28px;
}

.article-title{
  color: var(--white);
}

.article-title {
  font-size: 1.2rem;
  padding-bottom: 10px;
  font-weight: 550;
}

.article-text {
  font-size: 0.95rem;
  color: var(--gray);
  line-height: 1.5rem;
}

hr {
  background-color: var(--gray);
}

.pic-point {
  display: flex;
  padding-bottom: 38px;
}

.thumb {
  height: 130px;
  padding-right: 20px;
}

.num {
  font-size: 2rem;
  color: var(--gray);
  font-weight: 700;
}

.pic-title {
  font-size: 1.1rem;
  font-weight: 900;
  padding: 10px 0;
}

.pic-text {
  font-size: 0.95rem;
  color: var(--gray-blue);
  line-height: 1.5rem;
}

.pics-card {
  padding-bottom: 30px;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  main {
    width: 69%;
  }

  .toggle {
    display: none;
  }

  .toggle__burger {
    display: none;
  }

  .top-navbar {
    padding: 80px 0 50px;
  }

  .logo-image {
    height: 40px;
  }

  .navbar-list {
    display:flex;
    position: relative;
    overflow: visible;
    flex-direction: row;
    justify-content: flex-end;
    height: 0vh;
    padding:0;
    top: -35px;
    /* height: 0;
    padding: 50px 0 60px; */
  }

  .navbar-list a {
    font-size: 16px;
    padding:0;
    color: var(--gray-blue);
    padding-left: 41px;
  }

 .top-card {
  display: flex;
    width: 100%;
  }

  .web3mobile {
    display: none;
  }
  
  .web3desktop {
    display: block;
    width: 725px;
  }

  .top-left {
    width:70%;
  }

  .left-bottom {
    display: flex;
  }


  .blue-card {
    padding: 20px 15px 0;
    margin: 0  0 0 35px;
  }

  .pics-card {
    display: flex;
  }
}