@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Inter', sans-serif;
}

:root {
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --gray: hsl(233, 8%, 79%);
    --gray-blue: hsl(236, 13%, 42%);
    --dk-blue: hsl(240, 100%, 5%);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 15px 0;
}

.navbar-list {
  position: fixed;
  z-index: 3;
  overflow-x: hidden;
  height: 100vh;
  width: 0;
  top:0;
  right: 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  transition: 0.5s ease-in-out;
}

.navbar-list.active {
  display: flex;
  width: 255px;
  overflow-x: hidden;
}
  
#overlay {
  position: fixed;
  display:none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
}

#overlay.active {
  display: block;
}

.navbar-list a {
  color: #464343;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
}

.navbar-list a:hover {
  font-weight: 700;
}

/* animated xs */
.toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 15px;
    cursor: pointer;
    z-index: 5;
    transition: all .5s ease-in-out;
  }
  
  .toggle__burger{
    width: 40px;
    height: 3px;
    background: var(--dk-blue);
    transition: all .5s ease-in-out;
  }
  
  .toggle__burger::before,
  .toggle__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: var(--dk-blue);
    transition: all .5s ease-in-out;
  }
  
  .toggle__burger::before {
    transform: translateY(-7px);
  }
  
  .toggle__burger::after {
    transform: translateY(7px);
  }
  
  /* ANIMATION */
  .toggle.active .toggle__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .toggle.active .toggle__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .toggle.active .toggle__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

.logo-image {
  height: 28px;
}

footer { 
    font-size: 11px; 
    text-align: center; 
}

footer a {
    color: hsl(228, 45%, 44%); 
}